* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background-color: green;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 1. 修改这里：去掉 center，改为 flex-start 让子元素有移动空间 */
  justify-content: flex-start;
  padding-top: 20px;
  /* 给顶部的 h1 留点间距 */
  position: relative;
}

.head h1 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  /* 和导航栏保持间距 */
}

ul {
  display: flex;
  /* 1. 将宽度改为 100% 或 90%，让它横向撑满边缘 */
  width: 50%;
  position: sticky;
  top: 0;
  /* 2. 左右两端对齐 */
  justify-content: space-between;

  /* 3. 确保推到底部 */
  margin-top: auto;

  /* 4. 底部留一点点呼吸空间（记得带 px） */
  padding-bottom: 0px;
  background-color: #333;

}

ul li {
  list-style: none;
  width: 100px;
  height: 30px;

  text-align: center;
  line-height: 30px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;

}

ul li:hover {

  transform: translateY(-5px);
}

li a:hover {
  text-decoration: underline;
  background-color: #111;

  /* 鼠标悬停效果 */
}

.clock {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -50px;
  /* 垂直居中复位 */
  /* transform: translateY(-50%); */
  color: white;
  font-family: monospace;
  font-size: 16px;
  width: 200px;
  height: 100px;
  background-color: gray;
  text-align: center;
  line-height: 100px;
  transition: all 0.3s ease;
}

.box {
  display: flex;
  text-align: center;
  justify-content: space-between;
  line-height: 800px;
  font-size: 30px;
}

.left,
.right,
.center {
  width: 30%;
  height: 800px;
  margin: 10px;
}

.left {
  background-color: aquamarine;
}

.center {
  background-color: blueviolet;
}

.right {
  background-color: bisque;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
}